.timer{
  width: 500px;
  border: 2px solid black;
  margin: 0px auto;
}
.clockface{
  width: 50%;
  margin: 0px auto;
  text-align: center;
  padding: 20px;
  font-size: 46px;
}
.actions{
  display: flex;
  margin: 0px auto;
  // outline: 2px solid red;
  justify-content: center;
}
.timer-btn{
  margin: 20px 15px;
  padding: 10px 20px;
}